/* Add your styles here */

/* Flex View */
.flex-view {
  padding: var(--lumo-space-xl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--lumo-space-xl);
}

/* Hoverable grid */
.hoverable-grid::part(row):hover,
.hoverable-grid::part(body-cell):hover {
  background-color: var(--lumo-primary-color-10pct);
  cursor: pointer;
}

.hoverable-grid::part(body-cell) {
  cursor: pointer;
  background-color: transparent;
}

.hoverable-grid::part(body-cell):focus {
  background-color: var(--lumo-primary-color-10pct);
}

.hoverable-grid::part(last-column-cell):hover,
.hoverable-grid::part(last-column-cell):focus,
.hoverable-grid::part(first-column-cell):hover,
.hoverable-grid::part(first-column-cell):focus {
  background-color: transparent;
  cursor: default;
}
