/* Add your styles here */

/* Hoverable grid */
.hoverable-grid::part(row):hover {
    background-color: var(--lumo-primary-color-10pct);
    cursor: pointer;
}

.hoverable-grid::part(cell) {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
}

.hoverable-grid::part(cell):focus{
    background-color: var(--lumo-primary-color-10pct);
}